Flask~=3.0.3
torch==2.4.0.post1         # or latest 2.4.x patch
torchvision==0.15.2
transformers==4.46.1       # patched for deserialization and ReDoS
Pillow~=10.4.0
numpy==1.25.1
requests==2.31.0           # Just don’t use verify=False

flask-bootstrap==3.3.7.1
alembic~=1.13.3
SQLAlchemy~=2.0.36
WTForms~=3.1.2
Werkzeug~=3.0.4
bleach~=6.1.0
sendgrid~=6.11.0
django-sendgrid-webhook~=0.3.0
weasyprint~=63.1
