{% extends "base.html" %}
{% block content %}
<!-- Form to upload an image for prediction -->
  <div class="container mt-5">
    <div class="upload-section mt-5">
        <h3 class="text-center">Upload an Image for Crop Disease Recognition</h3>
        <div class="col-lg">
            <!-- File upload form -->
            <form enctype="multipart/form-data" method="POST" action="{{ url_for('main.upload') }}">
                {{ form.hidden_tag() }}

                <!-- File upload area with image preview -->
                <div class="row g-3">
                    <center>
                        <div class="image_upload">
                            <div class="wrapper">
                                <span>
                                    <input class="file-input" type="file" accept="image/*" name="image" id="original_image" required onchange="showPreview(event);" style="display: none">
                                    <label style="color: #5b8c51; cursor: pointer;" class="fa fa-cloud-upload-alt fa-3x" for="original_image"></label>
                                </span>
                                <p>Browse File to Upload</p>
                                <div class="preview col-6 pb-3">
                                    <img id="file-ip-1-preview" class="img-fluid rounded" width="330" />
                                </div>
                            </div>
                        </div>
                    </center>
                </div>

                <!-- Submit button -->
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

            <!-- Display uploaded image and Disease Recognition button -->
            {% if image_filename %}
                <div class="uploaded-image mt-4 text-center">
                    <h4>Uploaded Image:</h4>
                    <img src="{{ url_for('main.uploaded_file', filename=image_filename) }}" alt="Uploaded Image" class="img-thumbnail prediction-image">
                </div>

                <!-- Disease Recognition Button -->
                <div class="mt-3 text-center">
                    <button class="btn btn-outline-warning mx-2" onclick="selectModel('disease', '{{ image_filename }}')">Disease Recognition</button>
                </div>
            {% endif %}

            <!-- Display prediction result -->
            {% if prediction %}
                <div class="prediction-result mt-4 text-center">
                    <h4>Prediction Result: {{ prediction }}</h4>
                </div>
            {% endif %}
        </div>
    </div>
  </div>


<!-- Trending Pests and Diseases Section -->
<div class="container mt-5">
    <!-- Trending Crop Pests and Diseases Title -->
    <h2 class="text-center carousel-title">Trending Crop Diseases</h2>
    <!-- Flickity Carousel for trending pests and diseases -->
    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": 3000, "contain": true }'>
        {% for disease in diseases %}
        <div class="carousel-cell">
            <img src="{{ url_for('static', filename='uploads/' + disease.image) }}"
                 class="carousel-image"
                 alt="{{ disease.name }}">
            <div class="product-info">
                <h3 class="product-name">{{ disease.name }}</h3>
                <p class="product-description">{{ disease.description }}</p>
                <button class="quick-view">Learn More</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<script src="{{ url_for('static', filename='js/preview.js') }}"></script>

<script src="{{ url_for('static', filename='js/submit_image_disease.js') }}"></script>


{% endblock %}
