{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('add_disease') }}">
  {{ form.hidden_tag() }}

  <div class="form-group mt-3">
    <label for="disease_name">Disease Name</label>
    {{ form.disease_name(class="form-control", placeholder="Enter  name") }}
  </div>

  <div class="form-group mt-3">
    <label for="product_price">Price</label>
    {{ form.product_price(class="form-control", placeholder="Enter product price") }}
  </div>

  <div class="form-group mt-3">
    <label for="product_category">Category</label>
    {{ form.product_category(class="form-control") }}
  </div>

  <div class="form-group mt-3">
    <label for="product_stock">Stock</label>
    {{ form.product_stock(class="form-control", placeholder="Enter stock quantity") }}
  </div>

  <div class="form-group mt-3">
    <label for="product_image">Product Image</label>
    {{ form.product_image(class="form-control-file") }}
  </div>

  <div class="form-group mt-3">
    <label for="product_description">Description</label>
    {{ form.product_description() }}  <!-- Render CKEditorField -->
  </div>

  <button type="submit" class="btn btn-primary mt-3">Post Product</button>
</form>
{% endblock %}
