{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-success">Settings</h1>
    <div class="list-group">
        <!-- Add more settings sections as needed -->
        <a href="{{ url_for('main.notification_settings') }}" class="list-group-item list-group-item-action">
            Notification Settings
        </a>
        <!-- Future sections can be added here -->
    </div>
</div>
<div class="text-center mt-4">
    <a href="{{ url_for('main.upload') }}"
       class="btn btn-outline-success fw-bold">
       <i class="fas fa-arrow-left"></i>Go to Homepage
    </a>
</div>
{% endblock %}

